<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Signin to seniorDevops.com</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body class="text-center" onload="startTime()">
    <!--{% if open %}
    <p>We are currently open!</p>
    {% else %}
    <p>We are currently closed! Feel free to contact us!</p>
    {% endif %}-->
    <div style="display:inline-block; vertical-align:top">
        <h3 style="; margin-bottom: 5px">Status</h3>
        {% if intervalWork.started %}
        <p>Clocked in</p>
        {% else %}
        <p>Not Clocked in</p>
        {% endif %}
    </div>
    <div style="display:inline-block; vertical-align:top">
        <h3 style="; margin-bottom: 5px">Action</h2>
        {% if not intervalWork.started %}
        <button id="clockInButton" type="button" class="btn btn-default" on-click="updateStartTime">Clock-In</button>
        {% else %}
        <button id="clockOutButton" type="button" class="btn btn-default">Clock-Out</button>
        <button id="commentButton" type="button" class="btn btn-default">Comment</button>
        {% endif %}
    </div>
    <div style="display:inline-block; vertical-align:top">
        <a href="{% url 'logout' %}" class="btn btn-info btn-lg" style="position:absolute;right:7px">
            <span class="glyphicon glyphicon-log-out">Log out</span>
        </a>
        <h3 style="text-align: center;margin:0px">Current Time</h3>
        <div id="clock" style="padding:0px;font-size:150%;font-weight: bold;"></div>
    </div>
  </body>
</html>
<style>
*{
    font-family:Helvetica,Arial,sans-serif;
    text-align: right;
}
div{
    padding: 10px;
}
</style>
<script>
    $(function() {
        console.log( "ready!" );
        $("#clockOutButton").hide();
        $("#commentButton").hide();
        console.log( "hidden" );
    });
    function updateStartTime(){
        console.log("updating start time");
        // UPDATE REQUEST TO SERVER
    }
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var ampm = h >= 12 ? 'pm' : 'am';
        h = h % 12;
        h = h ? h : 12; // the hour '0' should be '12'
        m = m < 10 ? '0' + m : m;
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML =
        h + ":" + m + ":" + s + " " + ampm;;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
</script>

