<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Signin to seniorDevops.com</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body class="text-center" onload="startTime()">
        <!--{% if open %}
        <p>We are currently open!</p>
        {% else %}
        <p>We are currently closed! Feel free to contact us!</p>
        {% endif %}-->
        <div id="topHalf">
        <div class="threeColumn">
            <h3 style="; margin-bottom: 5px">Status</h3>
            {% if workIntervals %}
            <p>Clocked in</p>
            {% else %}
            <p>Not Clocked in</p>
            {% endif %}
        </div>
        <div class="threeColumn">
            <h3 style="; margin-bottom: 5px">Action</h2>
            {% if True %}
            <form method="post" action="{% url 'work_new' %}">
            {{ clockinForm }}
            {% csrf_token %}
                <button id="clockInButton" type="button" class="btn btn-default" value="{{ workIterval.save }}">Clock-In</button>
            </form>
            {% else %}
            <button id="clockOutButton" type="button" class="btn btn-default">Clock-Out</button>
            <button id="commentButton" type="button" class="btn btn-default">Comment</button>
            {% endif %}
        </div>
        <div class="threeColumn">
            <h3 style="text-align: right;margin:0px">Current Time</h3>
            <div id="clock" style="padding:0px;font-size:150%;font-weight: bold;"></div>
            <a href="{% url 'logout' %}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-log-out">Log out</span>
            </a>
        </div>
      </div>
      <div id="bottomHalf">
    {% load bootstrap4 %}
    {% load querystring from django_tables2 %}
    {% load title from django_tables2 %}

    {% block "content" %}


    {% if table.page %}
      <div class="table-container">
    {% endif %}

    {% block table %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
                {% block table.thead %}
                <thead>                 
                    <tr>
                        <th><a href="{% url "work_new" %}" class="btn btn-small btn-primary dark"><span class="hidden-phone"><i class="fa fa-user-plus"></i> Add Customer</span></a>
                          
                        </th>                  
                        <th colspan="5">                                         
                            <form method="post" class="form-inline form-search pull-right">
                              {% csrf_token %}
                                <div>
                                  <input id="search_form_id" name="search" type="text" class="form-control col-md-3" placeholder="ID, Name, Account #, ZIP" {% if search %} value="{{ search }}"{% endif %}>
                                  <button type="submit" class="btn btn-small btn-dark"><i class="fa fa-search"></i> Search</button>
                                </div>              
                            </form>
                        </th>                  
                    </tr>
                 
                  <tr>
                    {% for column in table.columns %}
                        {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                        {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                        {% endif %}
                    {% endfor %}
                  </tr>
                </thead>
                {% endblock table.thead %}
                {% block table.tbody %}
                <tbody>
                    {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                      {% block table.tbody.row %}
                      <tr class="{% cycle "odd" "even" %}">
                          {% for column, cell in row.items %}
                              <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                          {% endfor %}
                      </tr>
                      {% endblock table.tbody.row %}
                    {% empty %}
                      {% if table.empty_text %}
                      {% block table.tbody.empty_text %}
                      <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                      {% endblock table.tbody.empty_text %}
                      {% endif %}
                    {% endfor %}
                </tbody>
                {% endblock table.tbody %}
                {% block table.tfoot %}
                <tfoot></tfoot>
                {% endblock table.tfoot %}
        </table-->
    </div>
{% endblock table %}

{% if table.page %}
    {% block pagination %}
        {% bootstrap_pagination table.page url=request.get_full_path %}
    {% endblock pagination %}
  </div>
{% endif %}


{% endblock "content" %}

          <!--table class="table table-dark table-hover center" style="width:50%;display:">
            <thead>
              <tr>
                <th>Started</th>
                <th>Ended</th> 
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for workInterval in workIntervals %}
              <tr>
                <td>{{workInterval.started}}</td>
                <td>{{workInterval.ended}}</td>
                <td>deltaTee</td>
              </tr>
                {% endfor %}
            </tbody>
          </table-->
      </div>
  </body>
</html>
<style>
*{
    font-family:Helvetica,Arial,sans-serif;
    text-align: right;
}
div{
    padding: 10px;
}
th{
    text-align: center;
}
.center {

}
.threeColumn {
    display:inline-block;
    vertical-align:top;
    margin: auto;
    padding: 20px;
}
</style>
<script>
    $(function() {
        // hides buttons on page load
        $("#clockOutButton").hide();
        $("#commentButton").hide();
        //$("#clockInButton").click(function(e) {
        //    console.log( "Handler for clockInButton called.", e);
        //});
    });
    function updateStartTime(){
        console.log("updating start time");
        // GET OR CREATE INTERVAL WORK FOR THE DAY
    }
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        var ampm = h >= 12 ? 'pm' : 'am';
        h = h % 12;
        h = h ? h : 12; // the hour '0' should be '12'
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('clock').innerHTML =
        h + ":" + m + ":" + s + " " + ampm;;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
</script>

