boto3==1.7.4
botocore==1.10.4
certifi==2018.1.18
chardet==3.0.4
confusable-homoglyphs==3.0.0
DateTime==4.2
Django==2.2.24
django-bootstrap4==0.0.6
django-tables2==1.19.0
djangorestframework==3.7.7
docutils==0.14
idna==2.6
jmespath==0.9.3
pprint==0.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
stripe==1.79.1
urllib3==1.22
zope.interface==4.4.3
