<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Billing</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" crossorigin="anonymous"></script>
  </head>
  <body class="main" style="text-align:center;">
    {% csrf_token %}
        <ul id="topHalf" style="margin: auto;padding-bottom:0px;padding-top:12px;padding-left:0px">
            <li style="padding-right:10px;">
                <h5>Welcome, {{ first_name }}</h5>
            </li>
            <li>
                <h5 style="margin-bottom: 5px;" class="navBar">Action:</h5>
                <div style="display:inline-block; padding: 0px; vertical-align:top" id="myButtonDiv">
                    <ul id="buttonList" style="padding:0px;">
                        <li>
                            <button id="payButton" type="button" class="btn-sm btn-primary navBar" style="font-weight: bold;border:none;">Change Pay</button>
                        </li>
                         <li>
                            <button id="billButton" type="button" class="btn-sm btn-primary navBar" style="font-weight: bold;border:none;">Show Bill</button>
                        </li>
                        <a href="{% url 'logout' %}" class="btn-sm btn-primary navBar">
                          <span class="glyphicon glyphicon-log-out" style="font-weight: bold;">Log out</span>
                        </a>
                    <ul>
                </div>
            </li>
        </ul>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter your comments below</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeButton">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="url {{ work_update }}" method="PUT" id="commentForm">
                  {% csrf_token %}
                  <div class="modal-body">
                        {{ myForm.comments }}
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data="closingComments">Save changes</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Pay Modal -->
        <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form action="url {{ bill_new }}" method="POST" id="payForm">
                <!-- Prevent default and make API call to corresponding create or update method. 
                  "url {{ bill }}" = location.reload) -->
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="projectLabel" style="padding-right: 25px; padding-top:3px;">Pay Rate:</h5>
                  {{ pay_form.pay_rate }}
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>    
                <div class="modal-header">
                    <h5 class="modal-title" id="inviteLabelInitial" style="padding-right: 25px">Tax by %:</h5>
                    {{ pay_form.tax }}
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary" style="color:#F0F0F0" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-dope" data="closingComments">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="bottomHalf" style="margin: auto; border-top: 1px solid black;">
        <h3 style="text-align:center">{{ myProject }}</h3>
          {% load bootstrap4 %}
          {% load querystring from django_tables2 %}
          {% load title from django_tables2 %}
          {% block "content" %}
            {% if table.page %}
            <div class="table-container">
            {% endif %}
            {% block table %}
            <div class="table-responsive">
                <table id = "myTable" style="background-color:white;" class="table table-hover table-bordered table-striped"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
                    {% block table.thead %}
                    <thead>                 
                      <tr>
                        {% for column in table.columns %}
                            {% if column.orderable %}
                            <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a></th>
                            {% else %}
                            <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                            {% endif %}
                        {% endfor %}
                      </tr>
                    </thead>
                    {% endblock table.thead %}
                    {% block table.tbody %}
                    <tbody>
                        {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                          {% block table.tbody.row %}
                          <tr class="{% cycle "odd" "even" %}">
                              {% for column, cell in row.items %}
                                  <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                              {% endfor %}
                          </tr>
                          {% endblock table.tbody.row %}
                        {% empty %}
                          {% if table.empty_text %}
                          {% block table.tbody.empty_text %}
                          <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                          {% endblock table.tbody.empty_text %}
                          {% endif %}
                        {% endfor %}
                    </tbody>
                    {% endblock table.tbody %}
                    {% block table.tfoot %}
                    <tfoot></tfoot>
                    {% endblock table.tfoot %}
            </table>
        </div>
        {% endblock table %}
        {% if table.page %}
            {% block pagination %}
            {% bootstrap_pagination table.page url=request.get_full_path %}
            {% endblock pagination %}
        {% endif %}
        {% endblock "content" %}       
      </div>
    </div>
  <div style="justify-content: center;display: flex">
    <div class="card card-block bg-faded hoursTable" style="width:50%; margin-left: 19px;">
      <table class="hoursTable" style="border:solid #D8D8D8 1px;">
        <tr>
          <td style="font-weight:bold;">Total Hours:</td>
          <td id="totalHours" style="margin-bottom:0px;color:black">{{ totalHours }}</td>
          <td>(hr)</td>
        </tr>
      </table>
    </div>
    <div class="card card-block bg-faded moneyTable" style="width:250px; margin-left: 19px">
      <table class="moneyTable" style="border:solid #D8D8D8 1px;">
        <tr>
          <td style="font-weight:bold;">Hours:</td>
          <td id="totalHours" style="margin-bottom:0px;color:black">{{ totalHours }}</td>
          <td>(hr)</td>
        </tr>
        <tr style="border-bottom: solid black 1px">
          <td style="font-weight:bold;">Pay Rate:</td>
          <td>
            <p id="HourlyRate" style="margin-bottom:0px;color:black">{{ pay_rate }}</p>
          </td>
          <td>($/hr)
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Gross:</td>
          <td>
            <p id="GrossDue" style="margin-bottom:0px;color:black"></p>
          </td>
          <td>($)
          </td>
        </tr>
        <tr style="border-bottom: solid black 1px">
          <td style="font-weight:bold;">Convenience:</td>
          <td>
            <p id="surCharge" style="margin-bottom:0px;color:black;">{{ tax }}</p>
          </td>
          <td>(%)
          </td>
        </tr>
        <tr>
          <td style="font-weight:bold;">Total Due:</td>
          <td>
            <p id="totalDue" style="margin-bottom:0px;color:black"></p>
          </td>
          <td>($)
          </td>
        </tr>
      </table>
     </div>
   </div>
  <!--div id="myFooter" style="padding-top:200px;">SeniorDevOps.com © 2018</div-->
  </body>
</html>
<style>
ul {
  list-style-type: none;
}
*{
    font-family:Helvetica,Arial,sans-serif;
}
#myFooter{
    height:45px;
}
div{
    padding: 10px;
}

th, td{
    pointer-events: none;
    cursor: default;
    padding-right: 7px;
}
p{
    display:inline-block;
}
.moneyTable{
    color:#007BFF;
    font:sans-serif;
    text-align:right;
    width:100%;
}
.hoursTable{
    color:#007BFF;
    font:sans-serif;
    text-align:right;
    width:100%;
}
.inline{
    display:inline-block;
    padding: 5px;
}
.column {
    display:inline-block;
    margin: auto;
    height:35px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}
.main{
    background-color:#C6E2FF;
    margin: 0 auto;
    width: 90%;
}
.navBar{
    display: inline-block;
    padding-right:10px;
    margin-bottom:10px;
}
.btn-dope{
  background-color:#3371FF;
  color:#F0F0F0;
}
.btn-dope:hover{
  background-color:#2964C4;
  color:white;
}
#buttonList {
    list-style-type: none;
}
#buttonList li {
    margin-bottom:3px;
    display: inline;
}
</style>
<script>
    function addCalculatedFields(){
        var myHours = $("#totalHours").text();
        var hourly = $("#HourlyRate").text();
        var myTax = $("#surCharge").text();
        $("#GrossDue").text((myHours*hourly).toFixed(2));
        $("#totalDue").text((myHours*hourly*((myTax*0.01)+1)).toFixed(2));
    }
    $('document').ready(function(){
        $(".startedFormatted").attr("style","width:150px");
        $(".finishedFormatted").attr("style","width:150px");
        $(".myHours").attr("style","width:150px");
        $(".comments").attr("style","text-align:left");
        $(".moneyTable").hide();
        sessionStorage.setItem("showPay", "true");
        addCalculatedFields();
    });
    $('#billButton').click(function(event){
      var showPay = sessionStorage.getItem("showPay");
      if (showPay=="true"){
        addCalculatedFields();
        $(".moneyTable").show();
        $(".hoursTable").hide();
        $('#billButton').html('Hide Bill').button("refresh");
        showPay = "false";
      }else{
        $(".moneyTable").hide();
        $(".hoursTable").show();
        $('#billButton').html('Show Bill').button("refresh");
        showPay = "true";
      }
      console.log(showPay);
      sessionStorage.setItem("showPay", showPay);
    });
    function updateBill(){
      var myRate = $("#id_pay_rate").val();
      $("#HourlyRate").text(myRate);
      var myTax = $("#id_tax").val();
      $("#surCharge").text(myTax);
      addCalculatedFields();
      // AJAX call to make PDF
      $(".hoursTable").hide();
      $(".moneyTable").show();
      $('#payModal').modal('hide');
      // update bill for the next page refresh
      $.ajax({
          url: "update/{{ bill_id }}/",
          data: {
            // get the user from the request and the finished timestamp from the server
            "pay_rate": myRate,
            "tax": myTax
          },
          type: "PATCH",
          dataType: "json",
          success: function (data) {
            console.log(data);
            $("#id_tax").val("");
            $("#id_pay_rate").val("");
            $(".moneyTable").show();
            $(".hoursTable").hide();
          },
          error: function (xhr, status) {
            console.log(xhr);
            console.log(status);
          },
      });
    }
    $(".modal").on("hidden.bs.modal", function(){
        $(".modal-body1").html("");
    });
    $("#id_tax").attr({
      class:"form-control", 
      style:"display:flex;flex:1",
      placeholder: 'optional surcharge (%)'
    });
    $("#id_pay_rate").attr({
      class:"form-control", 
      style:"display:flex;flex:1",
      placeholder: 'hourly rate ($/hr)'
    });
    $("#payButton").click(function(e) {
        $('#payModal').modal('show');
    });
    $('#payForm').on('submit', function(event){
      event.preventDefault();
      updateBill();
    });
    function csrfSafeMethod(method) {
        // don't reveal CSRF token to GET requests
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader('X-CSRFToken', jQuery("[name=csrfmiddlewaretoken]").val());
            }
        }
    });
</script>

